.formContainer {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centrar el formulario */
    padding: 20px; /* Espacio interno */
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .formGroup {
    margin-bottom: 15px; /* Espacio inferior entre los grupos de formulario */
  }
  
 
 